* {
    box-sizing: border-box;
    color: black;
    font-family: 'Inter';
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    font-size: 1rem;
}

#card-container {
    width: 350px;
    max-width: 350px;
    max-height: 900px;
    height: 400px;
    margin: auto;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
}

#card-header {
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: #F8F9FA;
    padding: 10px 20px;
}

#card-header > #card-title {
    flex-grow: 1;
}

#card-header > #card-title > h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

#card-header > #card-search {
    width: 40%; /* FIXME */
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    border: 1px solid;
    border-color: #CED4DA;
    border-radius: 4px;
    background-color: white;
    padding: 6px;
}

#card-search > #card-search-input {
    color: #CED4DA;
}

#card-search > .delete-button { 
    background-color: #CED4DA;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    align-self: center;
}

#card-body {
    height: 80%; /* FIXME */
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1px;
    background-color: white;
}

#card-body > #card-body-todo-table-container {
    max-height: 80%;
    overflow-y: scroll;
}

ul.table {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #DEE2E6;
}

li.bullet {
    display: flex;
    border: 1px solid;
    border-color: #DEE2E6;
    background-color: white;
    padding: 10px;
}  

li.bullet:hover {
    cursor: pointer;
}

li.bullet > label {
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
    align-self: center;
}

li.bullet > button {
    font-size: 0.5rem;
    text-align: center;
    align-self: center;
    color: white;
    border: 1px solid;
    border-radius: 6px;
    border-color: white;
    cursor: pointer;
    padding: 4px;
    
}

li.bullet > button.green {
    background-color: #6dca81;   
}

li.bullet > button.gray {
    background-color: #CED4DA;
}

#card-body-todo-add-container {
    max-height: 40px;
}

#card-body-todo-add {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-color: #DEE2E6;
    border-radius: 4px;
}

#card-body-todo-add > input {
    flex-grow: 1;
    background-color: white;
    padding: 6px;
}

#card-body-todo-add > input::placeholder {
    color: #CED4DA;
}

#card-body-todo-add > button {
    padding: 6px;
    background-color: #E9ECEF;
    text-align: center;
    border-left: 1px solid #CED4DA;
    color: #CED4DA;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#card-body-todo-add > button:hover {
    background-color: #c7d2dd;
    color: white;
}